
.gndlogobackground {
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  z-index: 1;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
}

.gndlogo {
  min-height: 44px;
  min-width: 44px;
  max-height: 44px; 
  max-width: 44px;
  margin-right: 10px;
  margin: 3px;
  z-index: 1;
}

.menu {
  background-color: #0a2f6c;
  padding: 10px;
  box-shadow: 5px 0px 15px lightgrey;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.menufont {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
}

.links {
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: large;
}

.icon {
  padding-top: 10px;
  font-size: 25px;
  color: white;
}

.menufont:hover {
  color: skyblue;
}

.donate:hover {
  color: grey;
}

.active {
  color: orange;
}

.menu .icon {
  display: none;
}

@media screen and (max-width: 690px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 690px) {
  .menu.responsive {position: fixed;}
  .menu.responsive .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .menu.responsive .menufont {
    float: none;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 690px) {
  .menu {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .menufont {
    flex-grow: .05;
  }
}

