.contactpage {
    max-width: 100%;
}

.contactbanner {
    width:100vw;
    margin:1rem auto;
    position: relative;
}

.centeredtext {
    position: absolute;
    top:40%;
    left:35%;
    color: white;
    padding:1rem;
    transform:translateY(-50%);
}

.banner-title {
    
    margin: 0px;
}

.banner-sub-title {
    background:rgba(255,255,255,0.5);
    border-radius: 5px;
}

.contactusbutton {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(#0a2f6c 0%, #0a2f6c 51%, #0a2f6c 100%)
}

.contactusbutton:hover {
    background-image: linear-gradient(to right, #0a2f6c 0%, #f6914a 51%, #f6914a 100%)
    
}

a {
    color: white;
    text-decoration: none;
  }