.contactusbutton {
    margin: 10px;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px black; */
    border-radius: 10px;
    width: 50%;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    background-image: linear-gradient(#0a2f6c 0%, #0a2f6c 51%, #0a2f6c 100%)
}

.contactusbutton:hover {
    background-image: linear-gradient(to right, #0a2f6c 0%, #f6914a 51%, #f6914a 100%)

}

.contact-title-text a {
    color: white;
    text-decoration: none;
    width: 100%
  }

.contact-title-text a:hover {
    box-shadow: 0 0 20px black;
    cursor: pointer;
    background-image: linear-gradient(#0a2f6c 0%, #0a2f6c 51%, #0a2f6c 100%)
}

.contact-us-title p{
  font-family: sans-serif; 
  font-size: 30px; 
  color: #0a2f6c; 
  border-bottom: 2px solid lightgrey; 
  padding-bottom:10px; 
  width: 300px;
}


@media only screen and (max-width: 2000px) and  (min-width: 400px) {

  .contactpage {
    padding: 20px;
  }

  .contact-us-title p
  {
    display: none;
  }
    .contact-title-text {
      width: 100%;
    }
    p {
        font-size: 3vw;
    }

    .contact-address {
      display: none;
    }
    
  }

  @media only screen and (max-width: 400px) {
    
    .contactpage {
      padding: 20px;
    }
    
    .contact-title {
      display: none;
    }
    .contact-title-text {
      width: 100%;
      display: none;
    }
    p {
        font-size: 12px;
    }

    .contact-us-title {
      margin-top: 0px;
      padding-bottom: 20px;
    }

    .contact-address a {
      width: 100%;
      text-decoration: none;
    }

  }
