.border {
  max-width: 750px;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.start-serving-header {
  font-family: sans-serif; 
  font-size: 30px; 
  color: #0a2f6c; 
  border-bottom: 2px solid lightgrey; 
  padding-bottom:10px; 
  width: 300px;
  margin-top: 30px;
}

.subheaders {
  color: #0a2f6c;
  margin: 10px;
  font-family: sans-serif;
  font-size: larger;
}


.textfieldEmail {
  width: 620px;
}

.checkboxicon {
  width: 30;
  height: 30;
}

.images {
  width: 200px;
  height: 133.469px;
  margin: 0;
}

@media screen and (max-width: 699px) {
  .textfieldEmail  { width: 300px }
  .checkboxlabel  { width: 280px }
  .image1 { display: none }
}

.spinner {
  animation: spinner-logo infinite 1.3s linear;
  pointer-events: none;
}

@keyframes spinner-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
