.border {
  /* max-width: 750px;
  margin: 20px;
  padding-top: 10px 10px 20px 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  justify-content: center;
  border-radius: 15px; */
  margin: 20px;
  padding: 5px;
  text-align: center;
  min-width: 320px;
  max-width: 800px;
}

.start-serving-header {
  font-family: sans-serif; 
  font-size: 30px; 
  color: #0a2f6c; 
  border-bottom: 2px solid lightgrey; 
  padding-bottom:10px; 
  width: 300px;
  margin-top: 30px;
}

.subheaders {
  color: #0a2f6c;
  margin: 10px;
  font-family: sans-serif;
  font-size: larger;
  padding: 5px;
  font-size: 23px;
}

.textfield {
  width: 300px;
  margin: 10px;
}

.textfieldEmail {
  width: 620px;
  margin: 10px;
}

.checkboxlabel {
  margin-bottom: 20px;
}

.checkboxicon {
  width: 30;
  height: 30;
}

.images {
  width: 200px;
  height: 133.469px;
  margin: 0;
}

.startservingButton {
  background-color: #0a2f6c;
  color: white;
  max-width: 100px;
  margin: 10px 0px 25px 0px;
}

@media screen and (max-width: 699px) {
  .textfieldEmail  { width: 300px }
  .checkboxlabel  { width: 280px }
  .image1 { display: none }
  .image3 { display: none }
}

@media screen and (max-width: 360px) {
  .border { width: 100vw; margin: 0px 0px 20px 0px; }
  .start-serving-header { width: 80vw; }
  .textfield { width: 250px; }
  .textfieldEmail  { width: 250px }
  .checkboxlabel  { width: 250px }
}

.spinner {
  animation: spinner-logo infinite 1.3s linear;
  pointer-events: none;
}

@keyframes spinner-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
